body {
  font-family: "Montserrat";
}

/* Navigation bar styles */

.navbar {
  padding-bottom: 3rem;
}

.nav-link {
  color: #f8ede3;
}

.nav-link:hover {
  color: white;
}

.navbar-brand {
  font-size: 3.25rem;
  font-weight: bolder;
  font-family: "Dancing Script";
}

/* Title Section */

#title {
  background-color: #967e76;
}

.maintitle {
  font-family: "Montserrat";
  font-size: 3rem;
  line-height: 1.5;
  font-weight: 900;
  color: #f8ede3;
}

.container-fluid {
  padding: 3% 10%;
}

.btn {
  background-color: #d3b197;
  border-color: #d3b197;
  color: black;
}

.btn:hover {
  background-color: #c49d66;
  border-color: #c49d66;
  color: white;
}

.order-catalog-btn {
  margin: 5% 3% 2% 0;
}

.img-fluid {
  max-width: 30%;
  margin-left: 2%;
  transform: rotate(25deg);
  position: absolute;
}
/* Features Section */

#features {
  padding: 2% 10%;
  background-color: white;
  position: relative;
  z-index: 1;
}

.feature-box {
  text-align: center;
  padding: 5%;
}

.secondsection {
  font-weight: 900;
  font-family: "Montserrat";
  color: #796760;
}

.p-secondsection {
  color: #8f8f8f;
  font-weight: 400;
  font-size: 1.2rem;
}

.featuresicons {
  margin-bottom: 1rem;
}

.featuresicons:hover {
  color: #6f574f;
}

.fa-hand-holding-heart {
  color: #967e76;
}

.fa-rectangle-list {
  color: #967e76;
}

.fa-truck-fast {
  color: #967e76;
}

/* MasVendidos */

#masvendidos {
  text-align: center;
  background-color: #967e76;
  color: #f8ede3;
}

#MasVendidos_Heading {
  padding-top: 5%;
}

.carousel-item {
  padding: 5% 10%;
}

.img-masvendidos {
  width: 20%;
  border-radius: 100%;
}

h4 {
  display: inline;
  padding-left: 5%;
}

/* Images styles */

/* Pricing Section */

#pricing {
  padding: 100px;
  text-align: center;
}

.pricing-column {
  padding: 3% 2%;
}

.h2 {
  font-family: "Montserrat";
  font-weight: 100;
}
